.about {
  padding-top: 98px;
  padding-bottom: 153px;
  background-color: #fbfbfb;
  margin-bottom: 95px;
  @apply max-lg:py-[80px] max-lg:mb-[80px] max-md:py-[60px] max-md:mb-[60px];

  &__title {
    color: #12354b;
    margin-bottom: 18px;
  }
  &__desc {
    color: #737373;
    max-width: 526px;
    line-height: 1.16;
    @apply max-lg:mb-[40px] max-lg:max-w-full;
  }
  &__grid {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -7px;
    @apply max-lg:flex-col max-lg:mt-0 max-lg:items-stretch;
  }
  &__info {
    max-width: 590px;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 69px;
    padding-right: 50px;
    @apply max-2xl:text-[18px] max-md:text-[16px] max-lg:max-w-full max-lg:pr-0 max-lg:mt-0 max-lg:mb-[50px];
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  &__logo-icon {
    width: 58px;
  }
  &__logo-legend {
    margin-left: 9px;
    color: #1a3444;
    font-weight: 300;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 47px;
    margin-bottom: 40px;
  }
  &__tags-item {
    background-color: #f9f9f9;
    padding: 12px 22px;
    margin-right: 12px;
    margin-bottom: 10px;
  }
  &__companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 62px;
    @apply max-md:flex-col gap-y-[30px] gap-x-[20px];
  }
  &__company {
    @apply max-md:max-h-[60px] max-md:max-w-[150px] max-h-[80px] max-w-[200px] object-contain;
  }
  &__slider-wrap {
    @apply max-lg:flex max-lg:flex-col-reverse min-w-0 lg:w-[50%];
  }
  &__slider-controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 14px;
    @apply max-lg:bottom-0 max-lg:justify-between max-lg:mt-[15px];

    .control {
      &:disabled {
        @apply pointer-events-none opacity-50;
      }
    }

    .control + .control {
      margin-left: 20px;
    }
  }
  &__slider {
    @apply overflow-hidden;
  }
  &__slider-wrapper {
    @apply flex select-none;
  }
  &__slider-slide {
    @apply w-full shrink-0;
  }
  &__slider-image {
    height: 534px;
    @apply max-md:h-[280px];

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
